@using EEPS.DAL.Data;
@using Kendo.Mvc.UI.Fluent;
@{
    ViewBag.Title = "Users";
}

<br />
<div style="">
    @(Html.Kendo().Grid<UserDetail>()
        .Name("Users")
        .Columns(columns =>
        {
            columns.Bound(p => p.FullName).Title("Full Name");
            columns.Bound(p => p.UserName).Title("User Name");
            columns.Bound(p => p.Email).Title("Email");
            columns.Bound(p => p.PhoneNumber).Title("Phone number").Format("{0:MM/dd/yyyy HH:mm}");
            columns.Bound(p => p.IsActive).Title("Is Active");
            columns.Command(command => { command.Edit().UpdateText("Save"); command.Destroy(); }).Width(250);
        })
        .ToolBar(toolbar => toolbar.Create())
        .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Title("User")).TemplateName("User"))
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .Groupable()
        .HtmlAttributes(new { style = "height:500px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Events(events => events.Error("error_handler"))
            .Model(model => model.Id(p => p.UserId))
            .Create(update => update.Action("User_Create", "Users"))
            .Read(read => read.Action("User_Read", "Users"))
            .Update(update => update.Action("User_Update", "Users"))
            .Destroy(update => update.Action("User_Delete", "Users"))
        )
    )
</div>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

</script>